.modal-backdrop {
  background-color: black;
}

.my-modal .modal-content {
  background-color: #343a40; 
  color: #ffffff;
  /* color: #17a2b8; */
}

.header-text {
  font-size: 2rem;
  color: #02899C;
  text-align: center;
}

.navbar-header {
  text-align: center; 
  /* width: 75%; */
}

.cover {
  background-image: url("/img/colorfulBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  Height: 300px;
  Width: 300px;
}

.text {
  color:#282c34;
  text-align: center;
  text-justify: auto;
  font-size: 1.2em;
  font-weight: 500;
}

/* .home-content-container {
  position: relative;
}

.home-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */